nav ul.ant-menu,
nav ul.ant-menu>li.ant-menu-submenu>ul.ant-menu {
    background-color: transparent;
    border-right-color: transparent;
}

nav ul.ant-menu>li.ant-menu-submenu>ul.ant-menu .nav-text,
nav ul.ant-menu>li.ant-menu-submenu>ul.ant-menu .nav-text>a{
    width: 100%;
    height: 100%;
    display: inline-block;
}


/*

.ant-menu-inline .ant-menu-selected, .ant-menu-inline .ant-menu-item-selected
*/