.historicalTrace-container-top  .info-span{
    font-size: 16px;
    font-weight: bolder;
    color: #fff;
    display: inline-block;
    height: 32px;
    line-height: 32px;
}

.historicalTrace-container-center{
    margin: 15px auto;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 6px; 
}