@media only screen and (min-width: 1367px) {
    .previewchangedetails.inner-box{
        overflow: auto;
        height: 600px;
    }
}

.previewchangedetails .preview-container{
    margin-top: 20px;
}

.previewchangedetails .preview-container .preview-container-top :global(.ant-row-flex){
    height: 180px;
}

.previewchangedetails .preview-container .preview-container-top :global(.ant-row-flex .ant-col-4){
    background: url("../../../../asset/sp/ua/img/portal/1/2.png") repeat;
    height: inherit;
    overflow: auto;
}

.previewchangedetails .preview-container .preview-container-top .zoningcode-tr{
    width: 100%;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    cursor: pointer;
    padding: 0 10px;
}

.previewchangedetails .preview-container .preview-container-top .zoningcode-tr:hover{
    background: #8FBC8F;
}
.previewchangedetails .preview-container .preview-container-top .zoningcode-tr td{
    text-align: left;
}

.previewchangedetails .preview-container .preview-container-footer{
    text-align: center;
}
